node_modules/
.DS_Store
*.log
dist/
Build/

# Environment variables & Local Secrets
.env
.env.*
*.local
*.local.*
secrets/
*.key
*.pem

# OS / Editor temporary files
Thumbs.db
*.tmp
*.swp

# Site verification files
google*.html
